html 
    head Notas Estudiantes 
        each Notas in  DatosEstudiantes
            ul
                li= Notas.Nombre
                li= Notas.Apellido
                li= Notas.Nota
    script(src="../Public/Index.js") 
    body 
        img(src="https://sleepydays.es/wp-content/uploads/2015/05/08-aprender-estudiar-disen%cc%83ar-disen%cc%83o-debo-quiero-estudios-sleepydays.jpg", alt="", srcset="")