html 
  head= Cabezera
    title= title
  body
    h1 Pug -n
    div= Contenido 
    #container1.clase1
      if youAreUsingPug
        p GREAT 
      else
        p Ugly #{Nombre}
      p. 
        Pug is a terse and simple templating language with a 
        strong focus on performance and powerful features.
      a(href="/Invitados") Invitados 
      each Cursos1 in Cursos
        p= Cursos1.name_materia