html 
  head Dato
    title Interpolacion
  body
    h1 Mi nombre es #{Persona}
    p Mis ojos son #{Ojos[2]}
    p.  
        this message was deleted #[h1 Data nueva] 
    
    p recorriendo esos datos 
        ul 
            each CaraAlex in Cara
                li= CaraAlex
    script. 
        function Nombre(username){
            console.log(username);
        }
        var Persona = #{Persona};
        Nombre(Persona);


