doctype html
html 
    head 
        script. 
            window.onload = function () {
                function ShowName(username){

                    return username;

                }

                let Usuario = !{JSON.stringify(MyUser)};
                document.getElementById('Contenido').innerHTML = ShowName(Usuario.Nombre);
            };

    body
        div(id="Contenido")
        a(href="https://translate.google.com/?sl=en&tl=es&text=we%20show%20how%20we%20can%20make%20html%20from%20the%20path&op=translate") Facebook